<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="/css/bulma.min.css" media="screen">
    <link rel="stylesheet" href="/css/style.css" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>{{courseId}}</title>
</head>
<body>

    <!-- old items view -->
    <section id="oldItems">
        <div class="openMenu" v-if="showOpenMenu">
            <span class="material-icons mdl-badge">
                   <i v-on:click="toggleList" class="material-icons closeListFont">history</i>
               </span>
        </div>
        <div class="listWrap" v-if="show" transition="expand" v-cloak>
            <div id="closeList">
                <i v-on:click="toggleList" class="material-icons closeListFont">history</i>
            </div>
            <div class="list">
                <ul>
                    <li v-for="item in items">
                        <div class="oldMessMenuInfoWrap" v-on:click="toggleMessage(item)">{{item}}</div>
                    </li>
                </ul>
            </div>
        </div>
    </section>


    <!-- new messages view -->
    <section class="columns is-mobile ">
        <section id="listView" class="container column is-11 is-offset-1">
            <ul>
                <li v-for="(index, item) in items" v-on:click="highlightMessageClick(item)" :class="[item.highlight, item.itemLabel]" id="listViewLi{{index}}" transition="expandheight" v-cloak>
                    <section class="section">
                        <div class="container">
                            <div class="columns is-mobile">
                                <div class="column is-11">{{item}}</div>
                                <button :class="[item.buttonOutline]" class="column button is-outlined" v-on:click="removeMessageClick(item)">X</button>
                            </div>

                        </div>
                    </section>
                </li>
            </ul>
        </section>
    </section>


    <!-- specific message view -->
    <section id="modalView">
        <div class="modal" v-bind:class="[item.modal]" >
            <div class="modal-background"></div>
            <div class="modal-container">
                <div class="box">
                <div class="modal-content">
                    <div class="oldMessMenuInfoWrap"></div>
                </div>
                </div>
            </div>
            <button class="modal-close" v-on:click="toggleMessage(item)"></button>
        </div>
    </section>

    <div id="courseId" data-course-Id="{{courseId}}"></div>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.17/vue.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script src="/scripts/listView.js"></script>
    <script src="/scripts/modalView.js"></script>
    <script src="/scripts/oldMessages.js"></script>
    <script src="/scripts/main.js"></script>
</body>
</html>
